{% extends "base.html" %}

{% block title %}My Posts - Your App Name{% endblock %}

{% block content %}
<div class="container">
    <h2>My Events</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Footfall</th>
                    <th>Popularity Factor</th>
                    <th>Event Date</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Topic</th>
                    <th>Event Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for index, event in posts_df.iterrows() %}
                    <tr>
                        <td>{{ event['Title'] }}</td>
                        <td>{{ event['Description'] }}</td>
                        <td>{{ event['Location'] }}</td>
                        <td>{{ event['footfall'] }}</td>
                        <td>{{ event['popularity_factor'] }}</td>
                        <td>{{ event['EventDate'] }}</td>
                        <td>{{ event['CreatedAtDate'] }}</td>
                        <td>{{ event['Status'] }}</td>
                        <td>{{ event['Topic'] }}</td>
                        <td>{{ event['EventType'] }}</td>
                        <td>
                            <a href="{{ url_for('view_post', event_id=event['EventID']) }}" class="btn btn-success btn-block">View</a>
                            <br>
                            
                            <form method="POST" action="{{ url_for('delete_post', post_id=event['EventID']) }}" style="display: inline;">
                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
